*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Lato, "Open Sans", Arial, sans-serif;
  font-size: 120%;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:    -moz-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:     -ms-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:      -o-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:         linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
}

a {
  color: #fff;
  display: block;
  background: rgba(0,0,0,0.15);
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none;
  border-radius: 3px;
}

@media  (min-width: 520px) {
  body {
    font-size: 110%;
  }
  a {
    display: inline-block;
  }
}

@media  (min-width: 960px) {
  body {
    font-size: 100%;
  }
}
