body {
  font-family: Lato, "Open Sans", Arial, sans-serif;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:    -moz-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:     -ms-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:      -o-linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
  background:         linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
}

a {
  color: #fff;
}